.header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.logout-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.logout-button svg {
  margin-right: 5px;
}

.logout-container {
  margin-left: auto; 
}
